@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .SideBar {
        width: 15rem;
        background-color: black;
        color: white;
        height: 100%;
        position: fixed;
        padding-bottom: 10rem;
        overflow-y: scroll;
        z-index: 999;
    }
    .SideBar::-webkit-scrollbar {
        display: none; 
    }
    .ButtonList{
        width: 100%;
        position: fixed;
        background-color: black;
        overflow-x: auto;
        white-space: nowrap;
        z-index: 888;
    }
    .ButtonList::-webkit-scrollbar {
        display: none; 
    }
}