@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .SideBar {
        width: 15rem;
        background-color: black;
        color: white;
        height: 100%;
        position: fixed;
        padding-bottom: 10rem;
        overflow-y: scroll;
        z-index: 999;
    }
    .SideBar::-webkit-scrollbar {
        display: none; 
    }
    .ButtonList{
        width: 100%;
        position: fixed;
        background-color: black;
        overflow-x: auto;
        white-space: nowrap;
        z-index: 1;
    }
    .ButtonList::-webkit-scrollbar {
        display: none; 
    }
    .chatbox{
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
    }
    @media screen and (max-width:1020px){
        .chatbox{
            width: 53rem;
        }
    }
    @media screen and (max-width:763px){
        .chatbox{
            width: 38rem;
        }
    }
    @media screen and (max-width:638px){
        .chatbox{
            width: 15rem;
        }
    }
    .chatbox::-webkit-scrollbar {
        display: none; 
    }
    .iframe{
        border-radius: 20px;
        width: 49rem;
        height: 27rem;
    }
    @media screen and (max-width:1020px){
        .iframe{
            width:55rem;
        }
    }
    @media screen and (max-width:820px){
        .iframe{
            width:38rem;
        }
    }
    @media screen and (max-width:770px){
        .iframe{
            width:38rem;
            height: 20rem;
        }
    }
    @media screen and (max-width:500px){
        .iframe{
            width:25rem;
            height: 20rem;
        }
    }
    @media screen and (max-width:400px){
        .iframe{
            width: 18rem;
            height: 15rem;
            border: 50px;
        }
    }



}
/* rounded-xl shadow-2xl w-[49rem] h-[27rem] max-lg:w-[55rem] max-md:w-[40rem] max-md:h-[20rem] max-sm:w-[18rem] max-sm:h-[15rem] */